# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Ralina Tsykunova\Desktop\Разработка\Itlogia\5 блок. Профессиональные средства\Урок 42. Препроцессоры LESS и SASS\Домашняя работа\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
